{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2"><strong>About</strong></h2>
        <p>This is an application designed to show a report on healthy lifestyles in different cities around the world.</p>
    </section>

    <section>
        <h2 class="text-xl mb-2"><strong>Features</strong></h2>
        <ul class="list-disc pl-5">
            <li>Ranking of the city</li>
            <li>Cost of a bottle of water</li>
            <li>Obesity levels</li>
            <li>Life Expectancy</li>
            <li>Annual average hours worked</li>
        <br>
        <p>And many more!</p>
        </ul>
    </section>
    
    <br>
    <br>

    <section>
        <h2 class="text-xl mb-4"> <Strong>Reference</Strong></h2>
        <p>This dataset was taken from Kaggle from user PRASERT KANAWATTANACHAI.
        <p>You can find the dataset <a href="https://www.kaggle.com/datasets/prasertk/healthy-lifestyle-cities-report-2021"><strong>here</strong></a>.</p>
        <p>The data source is from <a href="https://www.lenstore.co.uk/research/healthy-lifestyle-report/"><u>Healthy Lifestyle Cities Report 2021</u></a>.</p>    
        </p> 
        
    </section>


{% endblock %}

   
   
   
